@font-face {
font-family:'Carter One' ;
src: url(https://fonts.googleapis.com/css2?family=Carter+One&display=swap);
}


header{
font-family: 'Carter One', fantasy;
}

.imghoja{
  position:absolute; top:100px; right: 1000px;
}



.btnvaloracion{
  position:absolute; top:100px; right:1200px;
 
}
.btndirectores{
    background-image: url();
    position:absolute; top:100px; right:1000px;
}
.buscador{
    position: absolute; top: 100px; right: 200px;
}


h1{
color: #f15d5d;
text-align: center;
}

body{

background-image: url("./img/fotofondo.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: contain;
background-color: #f2f1ec;

}