@font-face {
font-family:'Carter One' ;
src: url(https://fonts.googleapis.com/css2?family=Carter+One&display=swap);
}

header{
font-family: 'Carter One', fantasy;
}

.imghoja{
  position:absolute; top:100px; right: 1000px;
}
button{
  background-color:transparent;
  outline: none;
  border:none;
}
select{
  background-color:#f3eac0
}
#filterdirector{
  position: absolute; top:100px; right:1200px;

}
#filterScore{

position: absolute; top:100px; right: 1400px;
}
#poster{
 flex-direction: row;
  row-gap: 30px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-top: 100px;
  border-image:30px;
  display: flex;
  flex-wrap: wrap; 
 column-gap: 20px;
  align-items: center;
  

/* img{
  padding-top:100px;
  padding-bottom:15px;
  padding-right:15px;
  width:160px;
  height:300px; */
}
.fichita{
  border: none;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:end;
 padding: 30px 30px 30px 30px;

  border-radius: 10px;
  background-color: rgba(164, 195, 178, 0.8)
}
/* .btnvaloracion{
  position: absolute; top:100px; right:1200px;
  color:#f3eac0;
  display: inline-block;
 
}
.btndirectores{
    background-image: url();
    position:absolute; top:100px; right:1000px;

    display: inline-block;
} */
input{
  background-color: #f3eac0
}
.buscador{
    position: absolute; top: 100px; right: 200px;
    color:#d0bdcd;
    display: inline-block;
    
}
.input-icon {
  color: #b4adad;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.btnbuscar{
  position:absolute; top: 100px; right: 130px;
  display: inline-block;
}

h1{
color: #f15d5d;
text-align: center;
}

body{

background-image: url("./img/fotofondo.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: contain;
background-color: #f2f1ec;

}
#tarjeta{
  
 font-size: 20px;
 
 
}



/*.btnayuda{
  position:absolute; bottom: 100px; right:80px;
  display: inline-block;
}

text{

  font-size: 30px;
}